<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h4 class="display-6 navbar-text"> &copy;&nbsp;Copyright Sayanthana Yoganathan COMP229_Fall_Semester-3 Assignmnet-2 <br />
        Student ID - 301152304</h4>
    </nav>
  </footer>