<!--File Name: projects.ejs
Name: Sayanthana Yoganathan
Student Id: 301152304
Course: COMP-229 Sec.012-->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
</head>
<body>
    <header>
        <% include partials/main_nav.ejs %>
    </header>

<!--Main content-->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title%> page!</h1>
  
</main>
<br>
<center><a href=""><h3>Link to my Projects</h3></a></center><br>
<center><img src="/Assets/images/img1.png" width="500" height="280"><br><br></center>

</div id = "projectPara">
<p class="parPro">In this project, I create a website for calcultate BMR.  
The languages used for building this website are HTML5 and CSS3.</p> 
<center><img src="/Assets/images/img2.png" width="500" height="280"><br><br></center>
<p class="parPro">The second project was about entering the number of rows and columns and then the output would show draw the assigned 
    rows and columns. This project was based on JavaScript, HTML5, and CSS3</p>
<center><img src="/Assets/images/img3.png" width="500" height="280"><br><br></center>
<p class="parPro">The second project was a javascript based project where we built a photo gallery of few images which were flexible
    to slide and add them to favourites which will display below
    </p>
<center><img src="/Assets/images/img4.png" width="500" height="280"><br></center>
<p class="parPro">This project was a Registration form</p>

<center><img src="/Assets/images/img5.png" width="500" height="280"><br></center>
<p class="parPro">This project was a log-in from.
 Here, JavaScript, HTML5, and CSS3 were used.</p>

<center><img src="/Assets/images/img6.png" width="500" height="280"><br></center>
<p class="parPro">This is my last project</p>


    </div>
<footer>
    <% include partials/bottom_nav.ejs %>
</footer>

<script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/Script/app.js"></script> 

</body>
</html>