<!--File Name: services.ejs
Name: Sayanthana Yoganathan
Student Id: 301152304
Course: COMP-229 Sec.012-->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
</head>
<body>
    <header>
        <% include partials/main_nav.ejs %>
    </header>

<!--Main content-->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title%> page!</h1>
  
</div>
</main>
<br>
<center><img src = "Assets/images/img7.jpg" width="600px" height="400px"></center><br>
<div id = "service">
<p>There are many services that I can offer with the help of my skills in Software Engineering:</p>
<ul>
<li>Software Developer. I can offer service in this field becaue I have a lot of experience in C#, Java, javaScript and python.</li>
<li>Web Designer. I can design various websites because I think that I have a good understanding of the colors.</li>
<li>Database Developer. I can also help with managing complex datas as I have previous experience in the related field.</li>
<li>Software Tester. I can help solve the bugs. Though they are little complex but I enjoy solving those problems.</li>
</ul></div>

<footer>
    <% include partials/bottom_nav.ejs %>
</footer>

<script src = "/jquery/dist/jquery.min.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src = "/Script/app.js"></script> 

</body>
</html>